<header id="profile_header">
	<div id="profile_pic_wrap">
		<%= image_tag("phil.jpg", size: "300x300", alt: "Edit Entry", class: "profile_icon") %>
	</div>
</header>

<section>
	<table>
		<tr>
			<td>Name</td>
			<td>Philippe Girard</td>
		</tr>
		<tr>
			<td>Age</td>
			<td>21</td>
		</tr>
		<tr>
			<td>GPA</td>
			<td>4.19 / 4.3</td>
		</tr>
		<tr>
			<td>Study</td>
			<td>Computer Engineering</td>
		</tr>
	</table>
</section>